*.nupkg
update_vars.ps1
Update-AUPackages.md
Update-History.md
Update-Force-Test*
update_info.xml
api_key

# OSX
#
.DS_Store

# VisualStudioCode
.vscode/

# Vim
# Persistent undo
[._]*.un~
# Temporary
.netrwhist
*~
